.menuContainer {
	text-align: center;
	height: 50px;
}

header {
	height: 500px;
	background-repeat: no-repeat;
	background-position: inherit;
}

.shadow {
	height: 100%;
	display: flex;
	background-image: linear-gradient(to right, rgba(5.88%, 7.06%, 3.92%, 1)
		150px, rgba(5.88%, 7.06%, 3.92%, 0.8));
	padding: 30px 50px;
}

.imageContainer {
	
}

.image img {
	border-radius: 5px;
}

#watchProvider {
	height: 20%;
	height: 50px;
	width: 50px;
}

.tagLine .tLine {
	font-size: 12px;
	color: grey;
}

.headerContent {
	justify-content: center;
	display: flex;
	flex-direction: column;
	padding-left: 40px;
	color: #fff;
}

.headerContent .headerTitle {
	font-weight: 600;
	margin: 10px 0;
	font-size: 2rem;
}

.headerRatingDiv {
	display: flex;
	flex-direction: row;
}

.headerRating {
	display:flex;
	justify-content: center;
	align-items: center;
	margin-right: 10px;
}

.headerBtn {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 45px;
	height: 45px;
	background-color: #0d243f;
	color: white;
	border-radius: 23px;
	margin: 0px 10px;
}

.modal-body {
	text-align: center;
}

/* star */
.star {
	position: relative;
	font-size: 2rem;
	color: #ddd;
}

.star input {
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	opacity: 0;
	cursor: pointer;
}

.star span {
	width: 0;
	position: absolute;
	left: 0;
	color: #ffc107;
	overflow: hidden;
	pointer-events: none;
}

/*  */

/* castDiv */
.mainTitle {
	font-size: 1.5rem;
	font-weight: 500;
	padding: 30px 0px;
}

main {
	padding: 0px 30px;
}

#castDiv{
	display: flex;
	flex-direction: row;
	margin-bottom: 30px;
	overflow: scroll;
}

.castCard {
	-webkit-box-shadow: 1px 2px 9px -1px rgba(0, 0, 0, 0.35);
	box-shadow: 1px 2px 9px -1px rgba(0, 0, 0, 0.35);
	border-radius: 10px;
	margin: 10px;
	height: 300px;
}

.castImg a img {
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}

.castDesc{
	padding: 8px;
}

.realNameText a {
	font-size: 16px;
	font-weight: 700;
	color: black;
}
.notRealName{
	color: light-grey;
	font-size: 10px;
	font-weight: 200;
}

.realNameText a:hover{
	color: grey;
}

.castNameText {
	overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2; /* 라인수 */
  -webkit-box-orient: vertical;
  word-wrap: break-word;
}

/* review */


#reviewWrapper {
  overflow: scroll;
  height: 500px;
}

li.review {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}



.reviewLeft {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.reviewRegAt {
  width: 180px;
  font-size: 0.8rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.reviewRight{
	margin-left: 20px;
}

.reviewContent {
  font-size: 0.9rem;
}

.reviewProfileImg {
  width: 50px;
  height: 50px;
  border-radius: 25px;
  margin-right: 15px;
}

.reviewWriterDiv {
  font-size: 0.9rem;
}

