<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.springprj.www.repository.tvBoard.TvCommentDAO">
	<insert id="insertTvComment" parameterType="tvcvo">
		insert into tv_comment (tvb_id, writer, content)
		values (#{tvbId}, #{writer}, #{content})
	</insert>
	<select id="selectListTvComment" resultType="tvcvo">
		select b.tvc_id, tvb_id, writer, content, mod_at
		from (
			select tvc_id from tv_comment
			where tvb_id = #{tvbId}
			limit #{pgvo.pageStart}, #{pgvo.qty}
		)a inner join tv_comment b
		on a.tvc_id = b.tvc_id
		order by tvc_id
	</select>
	<select id="selectOneTvCommentTotalCount" parameterType="long" resultType="int">
		select count(tvc_id) from tv_comment where tvb_id = #{tvbId}
	</select>
	<update id="updateTvComment" parameterType="tvcvo">
		update tv_comment
		set content = #{content}, mod_at = now()
		where tvc_id = #{tvcId}
	</update>
	<delete id="deleteOneTvComment" parameterType="long">
		delete from tv_comment where tvc_id = #{tvcId}
	</delete>
	<delete id="deleteAllTvComment" parameterType="long">
		delete from tv_comment where tvb_id = #{tvbId}
	</delete>
	<select id="selectOneTvComment" parameterType="long" resultType="long">
		select tvb_id from tv_comment where tvc_id = #{tvcId}
	</select>
</mapper>